<div class="bg-gray-50 py-4">
    <header class="bg-white shadow-md mt-6 mx-auto sm:px-6 lg:px-8 rounded-2xl transition-all duration-300 ease-in-out" 
        [class.expanded]="isSidebarOpen" 
        [class.collapsed]="!isSidebarOpen">
        
        <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8">
            <div *ngIf="bread" class="mb-8 bg-white flex flex-col md:flex-row shadow-lg rounded-2xl px-6 py-4 md:items-center justify-between space-y-4 md:space-y-0">
                <!-- Breadcrumb -->
                <nav class="flex-1" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-2 text-gray-600">
                        <li class="inline-flex items-center">
                            <a href="#" class="inline-flex items-center text-lg font-semibold text-gray-800 hover:text-blue-600">
                                <svg class="w-5 h-5 mr-2 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                                </svg>
                                <span>{{ breadcrumb.title }}</span>
                            </a>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-gray-400 mx-2" fill="none" viewBox="0 0 6 10" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <a href="#" class="text-lg font-bold text-gray-800">{{ breadcrumb.subTitle }}</a>
                            </div>
                        </li>
                    </ol>
                    <p class="mt-2 text-sm text-gray-500">
                        Le PV de lancement définit les postes à pourvoir via l'appel à candidature ainsi que la commission responsable.
                    </p>
                </nav>
  
                <!-- Button -->
                <button *ngIf="add" (click)="onAddButton()" class="inline-flex items-center bg-green-500 hover:bg-green-600 text-white font-medium rounded-lg text-sm px-4 py-2 transition-colors duration-200">
                    <i class="fas fa-plus-circle w-5 mr-2"></i>
                    <span>Ajouter {{ breadcrumb.name | lowercase }}</span>
                </button>
            </div>
            
            <ng-content></ng-content>
        </div>
    </header>
  </div>

  <ng-container>
       <ng-content select="[modal]"></ng-content>
</ng-container>
  