<app-sidebar></app-sidebar>
<app-table [breadcrumb]="breadcrumb" [bread]="true" [add]="true">
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr>
          <th *ngFor="let column of columns" class="px-6 py-4 font-medium text-gray-900">
            {{ column.label }}
          </th>
          <th class="px-6 py-4 font-medium text-gray-900">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr *ngFor="let item of data; let rowIndex = index" class="hover:bg-gray-50">
          <td *ngFor="let column of columns" class="px-6 py-4">
            <ng-container [ngSwitch]="column.key">
              <div *ngSwitchCase="'comite'" class="relative inline-block text-left">
                <button 
                  [ngClass]="{ 'open': isComiteOpen[rowIndex]?.[column.key] }" 
                  (click)="toggleMenu(rowIndex, column.key)" 
                  type="button" 
                  class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" 
                  aria-haspopup="true"
                >
                  Comite
                  <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </button>
                <div class="py-1" role="menu" *ngIf="isComiteOpen[rowIndex]?.[column.key]">
                  <a class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">{{ item['comite'] }}</a>
                </div>
              </div>
              <span *ngSwitchCase="'statut'" 
                [ngClass]="{
                  'rounded-full px-4 py-2 text-xs font-semibold': true,
                  'bg-orange-100 text-orange-500': item['statut'] === 'Draft',
                  'bg-green-50 text-green-500': item['statut'] === 'Approuvé'
                }">
                {{ item['statut'] }}
              </span>
                            
              <span *ngSwitchDefault>
                {{ item[column.key] }}
              </span>
            </ng-container>
          </td>
          <td *ngIf="getActions(item).length > 0" class="px-6 py-4">
            <div class="flex">
              <button
                *ngFor="let action of getActions(item)"
                class="font-medium rounded-lg text-sm px-2 py-2"
                (click)="onActionClicked({ action: action.name, item: item })"
                [title]="action.name">
                <i 
                    [class]="action.icon" 
                    class="w-5 h-5"
                    [ngStyle]="{'color': action.color}">
                </i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-table>
<!-- <app-pv-edit *ngIf="isModalSignOpen"
  [title]="'Modifier le ' + ref"
  confirmText="Valider"
  (closed)="closeModal()"
  (confirmed)="onConfirmPV($event)">
</app-pv-edit>
<app-pv-edit *ngIf="isModalOpen"
  [title]="'Ajouter une piece jointe a ' + ref"
  confirmText="Confirmer l'ajout"
  (closed)="closeModal()"
  (confirmed)="onConfirmPJ($event)">
</app-pv-edit> -->
